.dropdown {
    position: relative;
    background: var(--inverted-primary-bg-color);
    min-width: 140px;
    text-align: left;
}

.textContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.list {
    position: absolute;
    top: 42px;
    right: 0;
    min-width: 140px;
    display: inline-block;
    list-style: none;
    z-index: 2;
    background: var(--inverted-primary-bg-color);
    border-radius: var(--border-radius);
}

.listItem {
    display: flex;
    width: 100%;
    padding: var(--padding-primary);
    margin-bottom: 7px;
}