.wrapper {
  padding: 7px;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: space-between;
}

.dropdownGroup {
  display: flex;
  gap: 14px;

  .dropdown {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}

.sortingGroup {
  display: flex;
  align-items: center;
  gap: 14px;

  .sorting {
    display: flex;
    align-items: center;
    gap: 14px;
  }
}