.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.inputBlock {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.input {
  margin-left: 7px;
  width: 390px;
  border: var(--border-color);
}

.inputLoading {
  opacity: 0.7;
  transition: opacity 0.2s ease;
}

.error {
  background-color: #560000;
  transition: background 0.2s ease;
}

.list {
  box-sizing: border-box;

  position: absolute;
  top: 35px;
  width: 410px;
  z-index: 1;
}