.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.buttons {
  top: 45%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
  z-index: 1;

  .leftButton {
    background-color: #1a1a1a;
    border-radius: 7px;
  }
  .rightButton {
    background-color: #1a1a1a;
    border-radius: 7px;

  }
}

.rowWrapper {
  display: flex;
  list-style: none;
}

.slideItem {
  .focusedItem {
    scale: 1.5;
  }
  margin: 0 7px;
}
