.wrapper {
  margin-top: 14px;
  display: flex;
  gap: 14px;
}

.skeleton {
  width: 140px;
  height: 200px;
  background: #1a1a1a;
  background: linear-gradient(110deg, #1a1a1a 8%, #282828 18%, #1a1a1a 33%);
  border-radius: 5px;
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
