.wrapper {
  display: block;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 21px;

  margin-top: 14px;
}

.title{
  margin-left: 14px;
}

.item {
  width: var(--row-item-width);
  height: var(--row-item-height);
}